$primary-color: #fff
$secondary-color: #000
  
$blue-100: #263FEA
$blue-200: #152484
$blue-300: #232E5E
$blue-400: #101A38
$blue-500: #0A0A33

$baloo-regular: 'baloo-regular'
$baloo-medium: 'baloo-medium'
$baloo-semibold: 'baloo-semibold'
$baloo-bold: 'baloo-bold'
$baloo-extrabold: 'baloo-extrabold'

@font-face
  font-family: 'baloo-regular'
  src: url('/fonts/baloo-2/Baloo2-Regular.ttf')

@font-face
  font-family: 'baloo-medium'
  src: url('/fonts/baloo-2/Baloo2-Medium.ttf')

@font-face
  font-family: 'baloo-semibold'
  src: url('/fonts/baloo-2/Baloo2-SemiBold.ttf')

@font-face
  font-family: 'baloo-bold'
  src: url('/fonts/baloo-2/Baloo2-Bold.ttf')

@font-face
  font-family: 'baloo-extrabold'
  src: url('/fonts/baloo-2/Baloo2-ExtraBold.ttf')
