@use "@/styles/abstracts/variables" as *
@use "@/styles/abstracts/mixins" as *
  
.auth-section
  width: 100vw
  height: 100vh
  background-color: $blue-500

  @include flex-center

.auth-section__border
  padding: 30px

  border: 1px solid $primary-color
  border-radius: 30px

.auth-section__container
  width: 1000px
  height: 450px
  position: relative

  display: flex

.auth-section__wrapp-cover
  width: 650px
  height: 450px

  position: absolute
  left: 350px
  z-index: 2

  border-radius: 0 20px 20px 0
  overflow: hidden

  transition: .5s

  img
    width: 100%
    height: 100%

// Interactive Styles

.move
  left: 0px
  border-radius: 20px 0 0 20px
