.login-container
  width: 290px
  height: 350px

  border-top-left-radius: 20px
  border-bottom-left-radius: 20px
  background: linear-gradient(-146.449deg, #152484 12%, #263FEA 100%)

.login-container__title
